.header {
  display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
      margin-bottom: 20px;
      background-color: #00f;
      border-bottom: 3px solid #ff6b0a;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding-right: 30px;
      padding-left: 30px;
}