.contactItem {
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 340px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.buttonDelete {
    background: #fff;
	border: 1px solid rgba(5,5,5,.2);
	border-radius: 5px;
	color: red;
	cursor: pointer;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: capitalize;
}

.buttonDelete:hover {
    background-color: red;
	color: #fff;
}

.contactName {
    margin-left: -7px;
    align-items: center;
    font-size: 18px;
    display: flex;
    margin: -8px;
}