.inputFilter {
    border-color: #0004ff;
    border-radius: 5px;
    margin-bottom: 20px;
    outline-color: blue;
    width: 370px;
    font-size: 18px;
    display: flex;
    margin-left: 30px;
    margin-top: 8px;
}