.link {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: color .2s;
  color: white;
 margin-right: 30px;

}

.link:hover {
  color: #ff6b0a;
}

.contactsBtn {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: color .2s;
  color: white;
}

.contactsBtn:hover {
  color: #ff6b0a;
}

.nav {
display: flex;
gap: 50px;
}




