.labelBook {
    display: flex;
    flex-direction: column;
    color: white;
}

.inputBook {
    border-color: #0004ff;
    border-radius: 5px;
    margin-bottom: 20px;
    outline-color: blue;
    font-size: 18px;
    display: flex;
}