.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.userName {
    color: white;
    font-size: 20px;
    margin-left: 50px;
    font-size: 30px;
}

.buttonLogout {
    text-decoration: none;
  border: 1px solid #8e8f99;
  border-radius: 10px;
  border-color: #fff;
  background-color: #fff;
  color: rgba(255,107,10);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-left: 50px;
  padding: 5px;
}

.buttonLogout:hover {
    background-color: rgba(255,107,10);
    color: #fff;
    border-color: rgba(255,107,10);
}