.userMenu {
  display: flex;
  align-items: center;
}

.userMenu__container {
  padding: 12px 15px;
}

.userIcon {
  padding-right: 5px;
  vertical-align: text-top;
}

.userMenu__btn {
  height: 30px;
  border-radius: 5px;
}
